body{
    background-image: url(backround.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 20px solid black;
}
#clock{
    font-family: monospace;
    font-size: 8.5rem;
    font-weight: bolder;
    text-align: right;
    margin-right: 50px;
    width: 100%;
    margin-bottom: 350px;
}